<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование пользователя</title>
</head>
<body>
<div align="center">
    <h2>Редактирование пользователя</h2>
    <form th:method="PATCH" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
        <label for="name">Введите имя: </label>
        <input name="name" type="text" th:field="*{name}" id="name"/>
        <br/>
        <label for="lastname">Введите фамилию: </label>
        <input name="lastname" type="text" th:field="*{lastname}" id="lastname"/>
        <br/>
        <label for="age">Введите возраст: </label>
        <input name="age" type="text" th:field="*{age}" id="age"/>
        <br/>
        <label for="password">Введите пароль: </label>
        <input name="password" type="password" id="password"/>
        <br/>
        <div th:each="role : ${roles}">
                <input type="checkbox" name="nameRoles" th:value="${role.role}" th:text="${role.role}" th:checked="${role.role} == USER"/>
        </div>
        <br/>
        <input type="submit" value="Сохранить">
        <a th:href="@{/logout}">Выйти</a>
    </form>
</div>
</body>
</html>