<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пользователь</title>
</head>
<body>
<div align="center">
    <h2>Пользователь</h2>
    <table border="1" cellpadding="5">
        <tr>
            <th>Id</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Возраст</th>
        </tr>
        <tr>
            <td th:text="${user.getId()}"></td>
            <td th:text="${user.getName()}"></td>
            <td th:text="${user.getLastname()}"></td>
            <td th:text="${user.getAge()}"></td>
            <a th:href="@{/logout}">Выйти</a>
        </tr>
    </table>
    <br/>
</div>
</body>
</html>